.resultHeader {
	color: #4885ed;
}
.result {
	color: green;
}

.tiny { 
	    font-size: 6;
		}

.document {
	color: #4885ed;
}

.image {
	color: green;
}

.img-result {
	width: 350px;
	height: auto;
	margin: 3px;
}
